<div class="wrapper">
  <mat-toolbar class="between-spacer">
    <span>Products</span>
    <button mat-icon-button (click)="this.newProduct()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <table class="table table-hover table-striped">
    <thead>
      <th>Image</th>
      <th>Name</th>
      <th>Measure</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of this.products | async">
        <td>
          <div class="img-thumb">
            <img [src]="product.image">
          </div>
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.width }}x{{ product.length }}x{{ product.height }} cm</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button mat-mini-fab color="primary" (click)="this.seeId(product.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
