<div mat-dialog-title>
  <h2>Confirm</h2>
</div>

<div mat-dialog-content>
  <p>Are you sure?</p>
</div>

<div mat-dialog-actions class="end-spacer">
  <button mat-mini-fab color="warn" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
  <span class="separacion"></span>
  <button mat-mini-fab color="primary" [mat-dialog-close]="true">
    <mat-icon>check</mat-icon>
  </button>

</div>
