<div class="wrapper">
    <mat-toolbar class="between-spacer">
        <span>Orders</span>
        <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    </mat-toolbar>

    <table class="table table-hover table-striped">
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Delivery</th>
            <th>Address</th>
            <th>State</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let order of this.orders | async">
                <td>{{ order.date.toDate() | date: 'MMM d, y, h:mm a' }}</td>
                <td>{{ order.name | uppercase }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.delivery }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.state }}</td>
                <td>
                    <button mat-mini-fab color="primary" [routerLink]="['/layout/orders/order', order.id]">
            <mat-icon>settings</mat-icon>
          </button>
                </td>
            </tr>
        </tbody>
    </table>


</div>