<div mat-dialog-title>
  <h2>New Product</h2>
</div>

<form [formGroup]="this.formProduct">

  <div mat-dialog-content>

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name"/>
      <mat-error *ngIf="this.formProduct.controls.name.invalid">Required Field</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
      <mat-error *ngIf="this.formProduct.controls.description.invalid">Required Field</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-half-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price"/>
      <mat-error *ngIf="this.formProduct.controls.price.invalid">Required Field</mat-error>
    </mat-form-field>
    <span class="separacion"></span>

    <mat-form-field appearance="outline" class="input-half-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock"/>
      <mat-error *ngIf="this.formProduct.controls.stock.invalid">Required Field</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-33-width">
      <mat-label>Width</mat-label>
      <input matInput type="number" formControlName="width"/>
      <mat-error *ngIf="this.formProduct.controls.width.invalid">Required Field</mat-error>
    </mat-form-field>

    <span class="separacion"></span>
    <mat-form-field appearance="outline" class="input-33-width">
      <mat-label>Height</mat-label>
      <input matInput type="number" formControlName="height"/>
      <mat-error *ngIf="this.formProduct.controls.height.invalid">Required Field</mat-error>
    </mat-form-field>
    <span class="separacion"></span>
    
    <mat-form-field appearance="outline" class="input-33-width">
      <mat-label>length</mat-label>
      <input matInput type="number" formControlName="length"/>
      <mat-error *ngIf="this.formProduct.controls.length.invalid">Required Field</mat-error>
    </mat-form-field>

    <div class="input-file-content">

      <div class="input-file-form">
        
        <div class="input-file">
          <mat-label>Main Image</mat-label>
          <input type="file" accept=".png, .jpg" (change)="this.changeImage($event)" #image/>
          <div *ngIf="this.imagePercent | async as pct">
            <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>
          </div>
          <mat-error *ngIf="this.formProduct.controls.image.invalid">Required Field</mat-error>
        </div>

        <div>
          <button mat-mini-fab color="warn" type="button" [disabled]="this.isImage" (click)="this.uploadImage()">
            <mat-icon>upload</mat-icon>
          </button>
        </div>

      </div>

      <div class="input-file-form">
        <div class="input-file">
          <mat-label>Gallery Images</mat-label>
          <input type="file" accept=".png, .jpg" multiple (change)="this.changeImages($event)"/>
          <div *ngIf="this.imagesPercent | async as pct">
            <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>
          </div>
          <mat-error *ngIf="this.formProduct.controls.images.invalid">Required Field</mat-error>
        </div>       
        <div>
          <button mat-mini-fab color="warn" type="button" [disabled]="this.isImages" (click)="this.uploadImages()">
            <mat-icon>upload</mat-icon>
          </button>
        </div>
      </div>

     

    </div>

  </div>

  <mat-dialog-actions class="end-spacer">
    <button mat-mini-fab color="warn" [matDialogClose]="false">
      <mat-icon>close</mat-icon>
    </button>
    <span class="separacion"></span>
    <button mat-mini-fab color="primary" type="submit" [disabled]="this.formProduct.invalid" (click)="this.newProduct()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
  
</form>
