<div class="wrapper">
    <mat-toolbar class="between-spacer">
        <span>Order {{ (this.order | async)?.name }}</span>
    </mat-toolbar>
    <table class="table table-hover table-striped p-5">
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Precio</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of (this.order | async)?.products">
                <td>{{ item.product.name }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.product.price * item.qty }}</td>
            </tr>
        </tbody>
    </table>

    <div class="order-detail-content">
        <div class="order-detail-pay-img">
            <img class="pay-img" [src]="(this.order | async)?.pay">
        </div>
        <div class="order-detail-data">
            <div class="order-detail-label-data">
                <label>Nombre</label>
                <span>{{ (this.order | async)?.name }}</span>
            </div>
            <div class="order-detail-label-data">
                <label>Telefono</label>
                <span>{{ (this.order | async)?.phone }}</span>
            </div>
            <div class="order-detail-label-data">
                <label>Email</label>
                <span>{{ (this.order | async)?.email }}</span>
            </div>
            <div class="order-detail-label-data">
                <label>Delivery</label>
                <span>{{ (this.order | async)?.delivery }}</span>
            </div>
            <div class="order-detail-label-data">
                <label>Direccion</label>
                <span>{{ (this.order | async)?.address }}</span>
            </div>
            <div class="order-detail-label-data">
                <label>Estado</label>
                <span>{{ (this.order | async)?.state }}</span>
            </div>
            <div class="input-full-width around-spacer">
                <button class="btn btn-outline-secondary btn-lg" (click)="updateOrderState('PENDIENTE')">Pendiente</button>
                <button class="btn btn-outline-secondary btn-lg" (click)="updateOrderState('PROCESADO')">Procesado</button>
            </div>
        </div>
    </div>
</div>
