<mat-sidenav-container>
    <mat-sidenav #menu class="sidebar" position="start" mode="side" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0" opened>
        <div class="center">
            <img class="profile_image" src="../../../../assets/layout/user.jpeg" alt="">
            <h4>Usuario</h4>
        </div>

        <a routerLink="/layout/dashboard" routerLinkActive="activated">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
        <a routerLink="/layout/products" routerLinkActive="activated">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>Products</span>
        </a>
        <a routerLink="/layout/orders" routerLinkActive="activated">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>Orders</span>
        </a>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
