@import '~@angular/material/theming';
@include mat-core();
$realce-app-primary: mat-palette($mat-cyan, 700);
$realce-app-accent: mat-palette($mat-teal, 900);
$realce-app-warn: mat-palette($mat-amber, 500);
$realce-app-theme: mat-light-theme(( color: ( primary: $realce-app-primary, accent: $realce-app-accent, warn: $realce-app-warn, )));
@include angular-material-theme($realce-app-theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-container {
    background-color: #935d8c;
    background-image: url('./images/overlay.png'), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url('./images/overlay.png'), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url('./images/overlay.png'), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-image: url('./images/overlay.png'), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.mat-toolbar {
    display: flex;
    background-color: #e37682;
    color: #fff;
}

.mat-dialog-actions {
    display: flex;
}

.separacion {
    margin: 5px;
}

.separacion-corta {
    margin: 3px;
}

.between-spacer {
    justify-content: space-between;
}

.end-spacer {
    justify-content: flex-end;
}

.center-spacer {
    display: flex;
    justify-content: center;
}

.around-spacer {
    display: flex;
    justify-content: space-around;
}

.input-full-width {
    width: 100%;
}

.input-half-width {
    width: 49%;
}

.input-25-width {
    width: 24%;
}

.input-33-width {
    width: 32%;
}

.input-75-width {
    width: 74%;
}

.wrapper {
    width: 80vw;
    background-color: #fff;
    margin: 30px auto;
}

.input-file-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-file-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    padding: 5px;
    color: #828282;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

.input-file {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.img-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

.order-detail-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
    .order-detail-pay-img {
        width: 50%;
        padding: 10px kjgkgjkh;
        .pay-img {
            width: 100%;
        }
    }
    .order-detail-data {
        width: 50%;
        padding: 20px;
        .order-detail-label-data {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            label {
                font-size: 20px;
                color: #828282;
            }
            span {
                font-size: 30px;
                margin: 10px 0;
            }
        }
    }
}
